.tags{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
    max-width: 60%;
    margin: 0 auto;
}



.tag{
    width: 10em;
    padding: 1em;
    border-radius: var(--radius);
    text-align: center;
    background-color: var(--tag1);
    cursor: pointer;
}

.tag-1{
    background-color: var(--tag1);
}
.tag-2{
    background-color: var(--tag2);
}
.tag-3{
    background-color: var(--tag3);
}
.tag-4{
    background-color: var(--tag4);
}
.tag-5{
    background-color: var(--tag5);
}