:root {
  --font-title: "Roboto Condensed", sans-serif;
  --font-text: "Roboto", sans-serif;
  --rojo-vivo: #FF4C4C;
  --azul-claro: #4C9AFF;
  --azul-medio: #45698f;
  --azul: #66B2FF;
  --blanco: #fff;
  --negro: #000;
  --gris-claro: #F2F2F2;
  --gris-oscuro: #555;
  --amarillo: #FFD700;
  --verde-claro: #4CFF4C;
  --verde-claro-2: #7bf77b;
  --tag1: #FF99C8;
  --tag2: #FCF6BD;
  --tag3: #D0F4DE;
  --tag4: #A9DEF9;
  --tag5: #E4C1F9;
  --radius: 13px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  animation: fadeIn .2s ease-in-out;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-title);
  font-weight: 900;
}

h1 {
  color: var(--rojo-vivo);
  font-size: 64px;
}

h2 {
  color: var(--azul-claro);
  font-size: 48px;
}

h3 {
  color: var(--negro);
  font-size: 40px;
}

a {
  text-decoration: none;
  color: var(--azul-medio);
  font-weight: 600;
}

a:hover,
.active {
  color: var(--azul);
}

p .resaltado {
  color: var(--amarillo);
}

.material-symbols-outlined{
  cursor: pointer;
}


.header-principal {
  background-color: var(--gris-claro);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1em;
}

.nav-principal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1em;
}

.visible *{
  display: block;
}

.invisible *{
  display: none;
}

.search{
  display: flex;
  gap: .5em;
}


.icon-search{
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: .5em;
}

.form-search{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-search input[type="search"]{
  height: 2.5em;
  border-radius: 1em;
  border: none;
  padding: .5em;
}

.button-search{
  height: 2.5em;
  border-radius: 1em;
  padding: .5em;
  background-color: var(--azul);
  border: none;
  cursor: pointer;
}

.nav-principal ul {
  display: flex;
  list-style: none;
  gap: 2em;
}


.content {
  width: 100%;
  padding: 1em;
}


.inicio h2 {
  margin-top: .8em;
  margin-bottom: .5em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  width: 5em;
  height: 3em;
  background-color: var(--verde-claro);
  cursor: pointer;
  border-radius: var(--radius);
  border: none;
  font-weight: bold;
}

.buttons button:hover {
  background-color: var(--verde-claro-2);
}

.errors p{
  padding: 1em;
  background-color: var(--rojo-vivo);
  color: var(--blanco);
}